:root
{
    color-scheme: dark;
    text-align: center;
}
input
{
    margin: 4px 1px 4px 1px;
}
input:valid
{
    background-color: rgb(43, 56, 43);
}
input:invalid
{
    background-color: rgb(146, 109, 109);
}
ul
{
    list-style-type: none;
}